.Piece
	height: $piece-dimension
	width: $piece-dimension
	margin: $piece-margin
	@include border-radius($piece-border-radius)

	&.available.yellow-backgrounded
		cursor: pointer
		border: 0.4rem solid $green
		&:hover
			background-color: $yellowHover