/*=============================================================================
/** Flex box
/**============================================================================

@mixin flex
	display: -webkit-box !important
	display: -moz-box !important
	display: -ms-flexbox !important
	display: -webkit-flex !important
	display: flex !important

@mixin flex-direction-row ($row: true)
	@if $row
		-webkit-flex-direction: row !important
		flex-direction: row !important
	@else
		-webkit-flex-direction: column !important
		flex-direction: column !important
@mixin flex-align-center
	-webkit-align-items: center !important
	align-items: center !important

/*=============================================================================
/** Rounded corners
/**============================================================================

@mixin border-radius ($bradius)
	-webkit-border-radius: $bradius !important
	-moz-border-radius: $bradius !important
	-ms-border-radius: $bradius !important
	border-radius: $bradius !important

/*=============================================================================
/** Border Box
/**============================================================================

@mixin border-box($value)
	-webkit-box-sizing: $value
	-moz-box-sizing: $value
	box-sizing: $value