.WinnerDialogModal
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	@include flex
	@include flex-align-center
	@include flex-direction-row(false)
	justify-content: flex-end

	.winner-dialog
		background-color: rgba($white, .8)
		height: 10rem
		width: 100%
		@include flex
		@include flex-align-center
		@include flex-direction-row(false)
		justify-content: space-between
		font-size: 1.5rem
		font-weight: 700
		padding: 2rem