$board-width: calculateRem(700)
$board-height: calculateRem(600)

$num-columns: 7
$num-rows: 6

$piece-margin: calculateRem(7)
$piece-dimension: ($board-width - $piece-margin * (2 * $num-columns)) / $num-columns
$piece-border-radius: 2rem

.Board
	width: $board-width
	height: $board-height

	@include flex
	@include flex-align-center
	@include flex-direction-row()
	justify-content: flex-start
	flex-wrap: wrap

	&.disabled
		z-index: -1000
