.Button
	font-size: 1rem
	text-transform: uppercase
	font-weight: 600
	border: none
	@include border-radius(.2em)
	padding: 1em 1.5em
	z-index: 2
	&:hover
		background: $transparentHover
	&:active
		background: $transparentActive
	&:focus
		outline: none