/*=============================================================================
/** Import App styling
/**============================================================================
@import "css/globals/colors"
@import "css/globals/constants"
@import "css/globals/functions"
@import "css/globals/mixins"

/*=============================================================================
/** Import Component styling
/**============================================================================
@import "../components/components"

html, body
	height: 100%
	width: 100%

html
	font-size: $default-font-size
	@include border-box(border-box)
	font-family: 'Open Sans', sans-serif !important

body
	font-size: inherit
	background-color: $lightGrey

*, *:before, *:after
	@include border-box(inherit)
	font-family: inherit !important
